# ignote all by default
*
.vim/temp/*
.vim/undo/*
.vim/backup/*

# do not ignore these:
!README.md
!.gitignore
!.gitconfig
!.gitmodules
!.Xdefaults
!.xinitrc
!.xsession
!.Xresources
!.xbindkeysrc
!.speedswapper
!.ncmpcpp/config
!.zshrc
!.gvimrc
!.vimrc
!.vim/*
!.vim/bundle/*
!.tmux.conf
!.mplayer/
!.pentadactylrc
!.pentadactyl/colors
!.fonts.conf
!.fonts/
!.gtkrc-2.0
!.config/gtk-3.0/settings.ini
!.config/awesome/rc.lua
!.awesome
!.ssh/config
!bin/
