[user]
    email = jakub@status.im
    name = Jakub Sokołowski
    signingkey = 4EF064D0E6D63020
[core]
    editor = nvim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[alias]
    hst = log --graph
    co  = checkout
    b   = branch
    f   = fetch
    ps  = push
    pl  = pull
    sm  = submodule
    s   = stash
    c   = commit --verbose --no-verify --gpg-sign --signoff
    m   = commit --verbose --no-verify --gpg-sign --signoff --amend
    fix = commit --verbose --no-verify --gpg-sign --signoff --fixup
    a   = add 
    an  = annex
    ax  = annex
    rh  = reset --hard
    rs  = reset
    ls  = ls-files
    cp  = cherry-pick
    u   = url
    df  = diff
    dt  = difftool
    l   = log --decorate
    gr  = log --graph --pretty=format:'%<(8)%Cred%h%Creset %C(cyan)%ai%Creset %Cgreen(%<(12)%cr) %C(bold blue)%<(21)<%an>%Creset %s %C(yellow)%d%Creset' --abbrev-commit
    sl  = log --pretty=format:'%<(8)%Cred%h%Creset %C(cyan)%ai%Creset %Cgreen(%<(12)%cr) %C(bold blue)%<(21)<%an>%Creset %s %C(yellow)%d%Creset' --abbrev-commit
    sla = log --pretty=format:'* %h %s %d' --abbrev-commit
    rst = reset --hard HEAD
[branch "master"]
    remote = origin
    merge = refs/heads/master
[credential]
    helper = cache --timeout=1800
[color]
    ui = true
[push]
    default = current
[pull]
    default = current
[difftool]
    prompt = false
[web]
    browser = firefox
[commit]
    gpgsign = true
[gpg]
    program = gpg
