[user]
    email = jacob@codility.com
    name = Jakub Sokołowski
[core]
    editor = nvim
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[alias]
    hist = log --graph
    co = checkout
    b  = branch
    f  = fetch
    ps = push
    pl = pull
    sm = submodule
    s  = stash
    c  = commit --verbose
    a  = add 
    an = annex
    rh = reset --hard
    rs = reset
    ls = ls-files
    l  = log --decorate
    sl = log --pretty=format:'%<(8)%Cred%h%Creset %C(cyan)%ai%Creset %Cgreen(%<(12)%cr) %C(bold blue)%<(21)<%an>%Creset %s %C(yellow)%d%Creset' --abbrev-commit
    df = diff
    dt = difftool
[branch "master"]
    remote = origin
    merge = refs/heads/master
[credential]
    helper = cache --timeout=1800
[color]
    ui = true
[push]
    default = current
[pull]
    default = current
[difftool]
    prompt = false
