# ignote all by default
/*

# do not ignore these:
!README.md
!.gitignore
!.gitconfig
!.gitmodules
!.Xdefaults
!.xinitrc
!.xsession
!.Xresources
!.xbindkeysrc
!.speedswapper
!.ncmpcpp/config
!.psqlrc
!.zshrc
!.gvimrc
!.vimrc
!.vim/
!.vim/bundle
!.vim/session/.gitignore
!.vim/backup/.gitignore
!.vim/undo/.gitignore
!.vim/temp/.gitignore
!.tmux.conf
!.mplayer/
!.pentadactylrc
!.pentadactyl/colors
!.fonts.conf
!.gtkrc-2.0
.config/*
!.config/awesome/rc.lua
!.config/gtk-3.0/settings.ini
!.awesome/
!.ssh/config
!bin/
